extends layout

block content
  div(class='page profile-bg')
    div(class="title-font text-center")
        h1 Create Group
    div(class="row mx-auto w-50")
        div(class="col")
            form(action="/crud/groups", method="POST")
                div(class="form-floating mb-3")
                    input(name="group_name",class="form-control",id="group_name")
                    label(for="group_name") Group Name
                div(class="form-floating mb-3")
                    input(name="price_limit",class="form-control",id="price_limit")
                    label(for="price_limit") Price Limit
                div(class="form-floating mb-3")
                    input(type="date",name="deadline_at",class="form-control",id="deadline_at")
                    label(for="deadline_at") Deadline
                input(type="submit", role="button", class="btn btn-primary mx-2", value="Sign up")
