extends layout

block content
  div(class='page profile-bg')
    div(class="title-font text-center")
        h1 Edit Profile
    div(class="row mx-auto w-50")
        div(class="col")
            div(class="form-floating mb-3")
                input(type="name",class="form-control",id="floatingInput",value="#{user.name}")
                label(for="floatingInput") Name
            div(class="form-floating mb-3")
                input(type="email",class="form-control",id="floatingInput",value="#{user.email}")
                label(for="floatingInput") Email address
            a(href="#", role="button",class="btn btn-primary mx-2") Update
