extends layout

block content
  div(class='page profile-bg')
    div(class="title-font text-center")
        h1 Create Account
    div(class="row mx-auto w-50")
        div(class="col")
            form(action="/crud/users", method="POST")
                div(class="form-floating mb-3")
                    input(name="name",class="form-control",id="name")
                    label(for="name") Name
                div(class="form-floating mb-3")
                    input(name="email",class="form-control",id="email")
                    label(for="email") Email address
                div(class="form-floating mb-3")
                    input(name="address",class="form-control",id="address")
                    label(for="address") Address
                input(type="submit", role="button", class="btn btn-primary mx-2", value="Sign up")
